<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/delete" method="post">
        <label style="font-size: 35px;">id: </label>
        <input id="characterId" name="characterId" size="35" type="text" style="font-size: 35px;">
        <br>
        <button type="submit" style="font-size: 35px;">Delete</button>
    </form>
</body>
</html>