<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task4</title>
</head>
<body>
    <h1>Harry Potter</h1>
    <form action="/" method="post">
        <label style="font-size: 35px;">id: </label>
        <input id="characterId" name="characterId" size="35" type="text" style="font-size: 35px;">
        <br>
        <label style="font-size: 35px;">name: </label>
        <!-- name, gender, house, wizard -->
        <input id="characterName" name="characterName" size="35" type="text" style="font-size: 35px;">
        <br>
        <label style="font-size: 35px;">gender: </label>
        <select id="characterGender" name="characterGender" type="text" style="font-size: 35px;">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <label style="font-size: 35px;">house: </label>
        <select id="characterHouse" name="characterHouse" type="text" style="font-size: 35px;">
            <option value="gryffindor">Gryffindor</option>
            <option value="slytherin">Slytherin</option>
            <option value="ravenclaw">Ravenclaw</option>
            <option value="hufflepuff">Hufflepuff</option>
        </select>
        <br>
        <label style="font-size: 35px;">wizard: </label>
        <select id="characterWizard" name="characterWizard" type="text" style="font-size: 35px;">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br>
        <button type="submit" style="font-size: 35px;">submit</button>

    </form>
    <br>
    <button style="font-size: 35px; "><a style="text-decoration: none; color: black;" href="/view-all">view all</a></button>
    <button style="font-size: 35px;"><a style="text-decoration: none; color: black;" href="/delete">delete</a></button>
</body>
</html>